<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  
  <appSettings>
    <add key="port" value="55331" />
  </appSettings>

  <modules>
    <module assemblyFile="ProjectWeekendPuzzles.Dashboard.dll" moduleType="ProjectWeekendPuzzles.Dashboard.DashboardModule, ProjectWeekendPuzzles.Dashboard, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DashboardModule" startupLoaded="True" />
  </modules>
  
</configuration>